name: Tag and publish
on:
  push:
    branches:
      - main

jobs:
  update_badges:
    uses: AllenNeuralDynamics/.github/.github/workflows/python_library_template_update_badges_v0_0_1.yml@main
    with:
{% raw %}
      app-id: ${{ vars.SEMANTIC_RELEASE_BOT_APP_ID }}
{% endraw %}
    secrets:
{% raw %}
      app-private-key: ${{ secrets.SEMANTIC_RELEASE_BOT_PRIVATE_KEY }}
{% endraw %}

  tag:
    needs: update_badges
    uses: AllenNeuralDynamics/.github/.github/workflows/python_library_template_tag_v0_0_1.yml@main
    with:
{% raw %}
      app-id: ${{ vars.SEMANTIC_RELEASE_BOT_APP_ID }}
{% endraw %}
    secrets:
{% raw %}
      app-private-key: ${{ secrets.SEMANTIC_RELEASE_BOT_PRIVATE_KEY }}
{% endraw %}
{% if release_type == "PyPI" %}
  publish:
    needs: tag
    runs-on: ubuntu-latest
    permissions:
      contents: read
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Pull latest changes
        run: git pull origin main
      - name: Set up Python {{ min_python_target_version }}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '{{ min_python_target_version }}'
      - name: Build and validate package
        run: |
          uv build
          uvx twine check dist/*
      - name: Publish on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
{% endif %}
